<header>
  <nav>
      <div class="row">
        <ul class="main-nav animated fadeIn">
          <li><a href="#services">What we do</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#contact">Get in touch</a></li>
        </ul>
      </div>
    </nav>

    <div class="row">
      <div class="hero-box">
        <h1 class="know animated slideInLeft">Know Y</h1>
        <h3 class="hero-h3 animated slideInLeft">A Digital Marketing Agency</h3>
      </div>
    </div>
      <a href="#welcome"><i class="ion-ios-arrow-down arrowIcon animated infinite pulse"></i></a>
  </header>

  <section class="welcome-section" id="welcome">
      <div class="social-box">
        <div class="welcome1 js--welcome1">
          <h2>We speak social, local, and mobile</h2>
        </div>
        <div class="welcome2 js--welcome2">
          <h3>These are not new languages for us. We were <span class="born">born</span> with them.</h3>
          <br>
        </div>
      </div>
  </section>

  <section class="services-section" id="services">
    <div class="row">
      <h2>Our Services</h2>
    </div>
    <div class="row">
      <div class="col1 js--wp-1">
        <div class="branding">
          <h3>Branding and Consulting</h3>
          <p>Refresh your currant brand or develop a new one while learning what makes your customers happy and how to better connect with them</p>
        </div>
      </div>
      <div class="col2 js--wp-2">
        <div class="social">
          <h3>Social, Local, and Mobile Marketing</h3>
          <p>Today's ultra-connected, fast moving world requires a marketing presence and strategy that works in the same way. Let us help you build or improve yours.</p>
        </div>
      </div>
      <div class="col3 js--wp-3">
        <div class="design">
          <h3>Graphic and Web Design</h3>
          <p>Whether your customers are searching for you on their phone during bus rides or at their desks.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="projects-section" id="projects">
    <div class="row">
        <h2>Recent Projects</h2>
        <div class="projects1"><a href="#"><%= image_tag("socialSyn.jpg", size: "300x300") %></a></div>
        <div class="projects1"><a href="#"><%= image_tag("topVet.jpg", size: "300x300") %></a></div>
        <div class="projects1"><a href="#"><%= image_tag("bootlegger.jpg", size: "300x300") %></a></div>
        <div class="projects2"><a href="#"><%= image_tag("wonderland.jpg", size: "300x300") %></a></div>
        <div class="projects2"><a href="#"><%= image_tag("hair.jpg", size: "300x300") %></a></div>
        <div class="projects2"><a href="#"><%= image_tag("mla.jpg", size: "300x300") %></a></div>
    </div>
  </section>

  <section class="section-form clearfix" id="contact">
      <div class="row">
        <h2>Want to work with us? <br>We'd love to hear from you!</h2>
      </div>
      <div class="row">
        <form class="contact-form" action="index.html" method="post">
          <div class="row">
            <div class="col span-1-of-3">
              <label for="name">Name</label>
            </div>
            <div class="col span-2-of-3">
              <input type="text" name="name" id="name" placeholder="your name" required>
            </div>
          </div>
          <div class="row">
            <div class="col span-1-of-3">
              <label for="email">Email</label>
            </div>
            <div class="col span-2-of-3">
              <input type="email" name="email" id="email" placeholder="your email" required>
            </div>
          </div>
          <div class="row">
            <div class="col span-1-of-3">
              <label for="find-us">How did you find us?</label>
            </div>
            <div class="col span-2-of-3">
              <select id="find-us" name="find-us">
                <option value="friends" selected>Friends</option>
                <option value="search">Search Engine</option>
                <option value="ad">Advertisement</option>
                <option value="other">Other</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col span-1-of-3">
              <label for="news">Newsletter?</label>
            </div>
            <div class="col span-2-of-3">
              <input type="checkbox" name="news" id="news"> Yes, please
            </div>
          </div>

        <div class="row">
          <div class="col span-1-of-3">
            <label for="message">Drop us a line</label>
          </div>
          <div class="col span-2-of-3">
            <textarea name="message" rows="8" cols="80" placeholder="your message" id="message"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col span-1-of-3">
            <label>&nbsp;</label>
          </div>
          <div class="col span-2-of-3">
            <input type="submit" value="Send It">
          </div>
        </div>
        </form>
      </div>
    </section>
